<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Twitter</title>
</head>
<body>
    <h1>Fake Twitter</h1>
    <form action="/tweets" method="POST">
        <textarea name="text" maxlength="280" autocomplete="off" required>What's happening?</textarea>
        <button>Submit</button>
    </form>
    <ul>
        <% for (let tweet of tweets) { %>
            <li>
                <a href="/tweets/<%= tweet._id %>">
                    <%= tweet.text %> - Likes: <%= tweet.likes %>
                </a>
                <form action="/tweets/<%= tweet._id %>?_method=PATCH" method="POST">
                    <button>Like</button>
                </form>
                <a href="/tweets/<%= tweet._id %>/edit">Edit</a>
            </li>
        <% } %>
    </ul>
</body>
</html>