<% layout('layouts/boilerplate') %>
<div class="flex justify-center">
    <%- include('../partials/sidebar') %>
    <section class="min-h-screen w-full lg:w-3/6 2xl:w-2/6 py-3 border-x border-gray-200">
        <h1 class="text-3xl font-bold mb-6 px-3">Home</h1>
        
        <form class="py-2 px-4 border-y border-gray-200" action="/tweets" method="POST">
            <textarea class="text-xl p-2 block w-full h-16 mb-2 focus:outline-none" name="text" placeholder="What's happening?" maxlength="280" autocomplete="off" required></textarea>
            <button class="bg-sky-500 py-1.5 px-4 rounded-3xl text-white ml-auto block transition-colors hover:bg-sky-600">Tweet</button>
        </form>
        
        <% for (let tweet of tweets) { %> 
            <div class="flex py-3 px-5 border-b border-gray-200">
                <div class="mr-3">
                    <img class="rounded-full" style="width: 48px; height: 48px" src="<%= tweet.author.image.url ? tweet.author.image.url : 'images/no-profile-picture.png' %>" alt="">
                </div>
                <div class="w-full">
                    <div class="flex items-center justify-between">
                        <h2 class="font-medium mb-1">@<%= tweet.author.username %></h2>
                        <span class="text-sm text-gray-600"><%= tweet.sinceCreated %></span>
                    </div>
                    <a href="/tweets/<%= tweet._id %>">
                        <p class="mb-3"><%= tweet.text %></p>
                    </a>
                    <div class="flex flex-row justify-between">
                        <div>
                        <% if (currentUser.likedTweets.find(likedTweet => likedTweet._id.equals(tweet._id))) { %>
                            <i class="fa-solid fa-heart text-red-500 mr-2"></i>
                            <span class="inline-block text-gray-600"><%= tweet.likes %></span>
                        <% } else if (!tweet.author._id.equals(currentUser._id)) { %>
                            <form class="inline-block mr-2" action="/tweets/<%= tweet._id %>/likes?_method=PATCH" method="POST">
                                <button><i class="fa-regular fa-heart text-gray-600 hover:text-red-500"></i></button>
                            </form>
                            <span class="inline-block text-gray-600"><%= tweet.likes %></span>
                        <% } else { %>
                            <i class="fa-regular fa-heart text-gray-600 mr-2"></i>
                            <span class="inline-block text-gray-600"><%= tweet.likes %></span>
                        <% } %>
                        </div>
                        <% if (tweet.author._id.equals(currentUser._id)) { %>
                        <div>
                            <i id="<%= tweet._id %>" class="edit inline-block mr-2 fa-regular fa-pen-to-square text-gray-600 cursor-pointer"></i>
    
                            <form class="inline-block" action="/tweets/<%= tweet._id %>?_method=DELETE" method="POST">
                                <button><i class="fa-regular fa-trash-can text-gray-600"></i></button>
                            </form>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    </section>
    <section class="hidden lg:block lg:w-3/12 2xl:w-2/12"></section>
    
    <div id="modal-bg" class="hidden">
    </div>
    <%- include('../partials/edit-tweet-modal') %>
</div>
